{
    "siteBaseURL" : "http://pc.jovial.com",
    "siteDescription" : "Blog of Bill's Peace Corps service in Burkina Faso starting in June 2017",
    "siteAuthor" : "Bill Foote",
    "siteTitle" : "The Adventures of Burkinabè Bill",
    "shareGiltHub" : "https://github.com/zathras/",
    "myProfilePhoto" : "images/where_is_burkina.png",
    "coverImage" : "images/burkina_cover.jpg"
}
