{
    "siteBaseURL" : "https://github.io/zathras/corpsblog/",
    "siteDescription" : "Test Content for Corpsblog",
    "siteAuthor" : "Bloggy McBloggerson",
    "siteTitle" : "The Adventures of Bloggy McBloggerson",
    "siteTitleBodyHTML" : "<i><em><font size=\"-1\">THE ADVENTURES OF</font></em></i>",
    "siteTitleBodyImage" : "images/bloggy_fancy.png",
    "shareGitHub" : "https://github.com/zathras/corpsblog/",
    "myProfilePhoto" : "images/profile.jpg",
    "coverImage" : "images/cover.jpg",          // You can use one from your images directory instead
//  "google_id_file" : "path/to/client_id.json",
//      This is the Google client_id file you get when you register an application with Google.
//      This enables automatic YouTube upload.  This file looks like this:
//
//        {
//          "installed"
//           : {
//              "client_id"
//               : "<as provided by google>",
//              "project_id"
//               : "<as provided by google>",
//              "auth_uri"
//               : "https://accounts.google.com/o/oauth2/auth",
//              "token_uri"
//               : "https://accounts.google.com/o/oauth2/token",
//              "auth_provider_x509_cert_url"
//               : "https://www.googleapis.com/oauth2/v1/certs",
//              "client_secret"
//               : "<as provided by google>",
//              "redirect_uris"
//               : [
//                  "urn:ietf:wg:oauth:2.0:oob",
//                  "http://localhost"
//                ]
//            }
//      }

    "google_oauth_browser" : "firefox",
//  "remote_upload" : "~/lib/corpsblog_remote_upload",
//       If present, this is a program that is run to upload videos to YouTube.  It's not necessary; automatic
//       upload works fine without it.  Providing this allows an optimization if your internet connecdtion is
//       very slow.  See See com.jovial.google.remote_hack

//  "mailchimp_id_file" : "~/Dropbox/peace_corps/blog/mailchimp_id.json",
//      This contains mailchimp account information, if you want automatic generation of e-mail announcements of
//      blog postings.  This file looks like this:
//      {
//          "list_id" : "<from mailchimp>",
//          "signup_url" : "http://eepurl.com/<from mailchimp>",
//          "reply_to" : "you@domain.com",
//          "maillist_blog_image" : "images/maillist_blog_image.jpg",
//          "social_card_image_url" : "<an external image URL>",
//          "client_id" : "<from mailchimp>",
//          "client_secret" : "<from mailchimp>",
//          "facebook_page_ids" : [ "<a hex number>", "<another hex number>" ]
//                  // Automatically post a copy of each announcement to the given FB page(s).
//      }

    "mailchimp_oauth_browser" : "firefox"
}
