{
    "siteBaseURL" : "http://pc.jovial.com",
    "siteDescription" : "Bill's Peace Corps service in Burkina Faso starting in June 2017",
    "siteAuthor" : "Bill Foote",
    "siteTitle" : "The Adventures of Burkinabè Bill",
    "siteTitleBodyHTML" : "<i><em><font size=\"-1\">THE ADVENTURES OF</font></em></i>",
    "siteTitleBodyImage" : "images/burkinabe_bill_alpha.png",
    "shareGiltHub" : "https://github.com/zathras/",
    "myProfilePhoto" : "images/where_is_burkina.png",
    "coverImage" : "images/burkina_cover.jpg",
    "google_id_file" : "~/Dropbox/peace_corps/blog/client_id.json",
    "google_oauth_browser" : "firefox"
//  "remote_upload" : "~/lib/corpsblog_remote_upload",
    "mailchimp_id_file" : "~/Dropbox/peace_corps/blog/mailchimp_id.json",
    "mailchimp_oauth_browser" : "firefox"
}
