.photogrid-1 {
   line-height: 0;
   line-width: 0;
}

.photogrid-1 img {
  width: 100% ;
  height: auto ;
  float: left ;
  border-radius: 0;
}

.photogrid-2 {
   line-height: 0;
   line-width: 0;
}

.photogrid-2 img {
  width: 50% ;
  height: auto ;
  float: left ;
  border-radius: 0;
}

.photogrid-3 {
   line-height: 0;
   line-width: 0;
}

.photogrid-3 img {
  width: 33% ;
  height: auto ;
  float: left ;
  border-radius: 0;
}

.photogrid-4 {
   line-height: 0;
   line-width: 0;
}

.photogrid-4 img {
  width: 25% ;
  height: auto ;
  float: left ;
  border-radius: 0;
}
